body {
    background-color: #edfffe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.content{
    justify-content: center;
    height: 3200px;
}
.nav-article {
    align-self: flex-start;
    font-size: 30px;
}
.textbox {
    width: 1000px;
    height: 400px;
    text-align: justify;
    bottom: 3%;
}

.shortcut-header a {
    text-decoration: none;
    margin-left: 30px;
    color: #0034bb;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 30px;
}

.shortcut-header a:hover{
    color: #f77062;
    transition: all 0.5s ease;
}

.content h1 {
    font-size: 50px;
}

.content h2{
    font-size: 70px;
}

.content img {
    width: 990px;
    height: 500px;
}

p.source {
    font-size: 20px;
}
p {
    justify-content: center;
    font-size: 30px;
    padding: 3px;
}

p.time {
    font-size: 30px;
    opacity: 0.7;
}

@media (max-width: 1400px) {
    p {
        justify-content: center;
        font-size: 25px;
    }
    .textbox {
        width: 500px;
        height: 400px;
        text-align: justify;
        bottom: 3%;
    }
    .content h2{
        font-size: 40px;
        margin-left: 100px;
    }
    p.time {
        font-size: 30px;
        opacity: 0.7;
        margin-left: 180px;
    }
    .content img {
        width: 490px;
        height: 300px;
        justify-content: center;
        margin-left: 110px;

    }
    p.source {
        font-size: 15px;
        margin-left: 80px;
    }
    .textbox{
        width: 600px;
        height: 400px;
        text-align: justify;
        bottom: 3%;
        margin-left: 50px;
    }
}