body {
    background-color: #edfffe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.content{
    justify-content: center;
    height: 4500px;
}
.nav-article {
    align-self: flex-start;
    font-size: 30px;
}
.textbox {
    width: 1000px;
    height: 400px;
    text-align: justify;
    bottom: 3%;
}

.content h1 {
    font-size: 50px;
}

.shortcut-header a {
    text-decoration: none;
    margin-left: 30px;
    color: #0034bb;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 30px;
}

.shortcut-header a:hover{
    color: #f77062;
    transition: all 0.5s ease;
}

.content h2{
    font-size: 48px;
}

.content img {
    width: 990px;
    height: 500px;
}

p.source {
    font-size: 20px;
}
p {
    justify-content: center;
    font-size: 30px;
    padding: 3px;
}

p.time {
    font-size: 30px;
    opacity: 0.7;
}