
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header h1,
.shortcut-header p,
.shortcut-header a,
.Ifeed,.font-title,
form label,form input,::placeholder, .submitText,
footer, .namePro, .desc, .info p{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}