@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header h1,
.shortcut-header p,
.shortcut-header a,
form, input[type="text"], 
input[type="password"],input[type="submit"],
p,
footer, .namePro, .desc, .info p,.directory a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}