/* {
    margin: 0;
    padding: 0; 
}*/

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b1eaff;
    flex-direction: column;
}

.nav-article {
    align-self: flex-start;
    font-size: 20px;
    padding-left: 7px;
  }

.container {
    background: #90becf;
    padding-top: 30px;
    padding-left: 100px;
    width: 102%;
    height: 300px;
    box-shadow: 0 0 5px #78ded1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.commentbox {
    position: absolute;
    background-color: #fff;
    width: 103%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: -30px;
    margin-top: 300px;
}

.commentbox > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.content {
    width: 108%;
}

.content h2 {
    color: #000b6b;
}

.user {
    border: none;
    outline: none;
    margin: 5px 0;
    color: #888888;
    margin-left: -12px;
    padding: 10px;
}

.commentinput > input {
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    width: 95%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #888888;
}

.buttons button {
    padding: 5px 10px;
    background-color: lightgrey;
    color: #888888;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.submit-mail {
    background-color: #023b7f; 
    color: #befbff;
    border-color: transparent;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px 40px;
    margin-bottom: 40px;
}

.buttons button.abled {
    background: blue;
    color: #fff;
}

.policy {
    margin: 20px 0;
    font-size: 0.8em;
    color: #888888;
}

.policy a {
    text-decoration: none;
    color: blue;
}

.notify {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.notify > input {
    margin-right: 5px;
}

.parents {
    display: flex;
    margin-bottom: 30px;
}

.parents h1 {
    font-size: 0.9em;
}

.parents p {
    margin: 10px 0;
    font-size: 0.9em;
}

.parents > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    object-fit: cover;
    object-position: center;
}

.engagements {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.engagements img {
    width: 20px;
}

.engagements img:nth-child(1) {
    margin-right: 10px;
    width: 25px;
}

.date {
    color: #0034bb;
    font-size: 0.8em;;
}

.complaint {
    margin-top: 300px;
}

.complaint a {
    text-decoration: none;
    color: #000b6b;
}

.complaint a:visited{
    color: #000b6b;
}

.popup{
    width: 400px;
    background: #b1eaff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    padding-top: -50px;
}

.popup1{
    width: 400px;
    background: #b1eaff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}

.open-popup{
    visibility: visible;
    top: 50%;
    left: 25%;
    transform: translate(50%, 50%) scale(1);
    margin-top: -30%;
    box-shadow: 0px 0px 50px 10px #000;
}

.open-popup1{
    visibility: visible;
    top: 50%;
    left: 25%;
    transform: translate(50%, 50%) scale(1);
    margin-top: -30%;
    box-shadow: 0px 0px 50px 10px #000;
}


.popup button{
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background: #0034bb;
    color:#fff;
    border: 0;
    outline: None;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

h4{
    font-size: 30px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 4rem;
    color: #6590fb;
    margin-bottom: 2rem;

}

.rating .star {
    cursor: pointer;
}

.rating .star.active {
    opacity: 0;
    animation: ani 0.5s calc(var(--i) * 0.1s)ease-in-out forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
        transform: scale(1);
    }   
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.rating .star:hover {
    transform: scale(1.1);
}

.font-title {
    color: #0034bb;
    font-size: 25px;
    margin-right: -10px;
    font-style: normal;
}

.Ifeed {
    display: flex;
    color: #0034bb;
}

input[type="text1"] {
    width: 100%;
    height: 120px;
    /* padding: 10px; */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.popup .material-symbols-outlined {
    color: green;
    font-size: 80px;
}

@media (min-width: 1200px) and (max-width: 1800px){
    body {
        margin: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #b1eaff;
        flex-direction: column;
    }
    
    .nav-article {
        align-self: flex-start;
        font-size: 20px;
        padding-left: 7px;
      }
    
    .container {
        background: #90becf;
        padding-top: 30px;
        padding-left: 100px;
        width: 102%;
        height: 300px;
        box-shadow: 0 0 5px #78ded1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    
    
    .commentbox {
        position: absolute;
        background-color: #fff;
        width: 101%;
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        padding-left: 10px;
        margin-left: -35px;
        margin-top: 300px;
    }
    
    .commentbox > img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 20px;
        object-fit: cover;
        object-position: center;
    }
    
    .content {
        width: 108%;
    }
    
    .content h2 {
        color: #000b6b;
    }
    
    .user {
        border: none;
        outline: none;
        margin: 5px 0;
        color: #888888;
        margin-left: -12px;
        padding: 10px;
    }
    
    .commentinput > input {
        border: none;
        padding: 10px;
        padding-left: 0;
        outline: none;
        border-bottom: 2px solid blue;
        margin-bottom: 10px;
        width: 95%;
    }
    
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #888888;
    }
    
    .buttons button {
        padding: 5px 10px;
        background-color: lightgrey;
        color: #888888;
        text-transform: uppercase;
        border: none;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .submit-mail {
        background-color: #023b7f; 
        color: #befbff;
        border-color: transparent;
        border-radius: 10px;
        font-size: 30px;
        padding: 20px 40px;
        margin-bottom: 40px;
    }
    
    .buttons button.abled {
        background: blue;
        color: #fff;
    }
    
    .policy {
        margin: 20px 0;
        font-size: 0.8em;
        color: #888888;
    }
    
    .policy a {
        text-decoration: none;
        color: blue;
    }
    
    .notify {
        margin-right: 50px;
        display: flex;
        align-items: center;
    }
    
    .notify > input {
        margin-right: 5px;
    }
    
    .parents {
        display: flex;
        margin-bottom: 30px;
    }
    
    .parents h1 {
        font-size: 0.9em;
        margin-left: 2px;
    }
    
    .parents p {
        margin: 10px 0;
        font-size: 0.9em;
    }
    
    .parents > img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: 10px;
        object-fit: cover;
        object-position: center;
    }
    
    .engagements {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .engagements img {
        width: 20px;
    }
    
    .engagements img:nth-child(1) {
        margin-right: 10px;
        width: 25px;
    }
    
    .date {
        color: #0034bb;
        font-size: 0.8em;;
    }
    
    .complaint {
        margin-top: 300px;
    }
    
    .complaint a {
        text-decoration: none;
        color: #000b6b;
    }
    
    .complaint a:visited{
        color: #000b6b;
    }
    
    .popup{
        width: 400px;
        background: #b1eaff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
        padding-top: -50px;
    }
    
    .popup1{
        width: 400px;
        background: #b1eaff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
    }
    
    .open-popup{
        visibility: visible;
        top: 50%;
        left: 15%;
        transform: translate(50%, 50%) scale(1);
        margin-top: -50%;
        box-shadow: 0px 0px 50px 10px #000;
    }
    
    .open-popup1{
        visibility: visible;
        top: 50%;
        left: 25%;
        transform: translate(50%, 50%) scale(1);
        margin-top: -30%;
        box-shadow: 0px 0px 50px 10px #000;
    }
    
    
    .popup button{
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        background: #0034bb;
        color:#fff;
        border: 0;
        outline: None;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
    
    h4{
        font-size: 30px;
    }
    
    .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: .5rem;
        font-size: 4rem;
        color: #6590fb;
        margin-bottom: 2rem;
    
    }
    
    .rating .star {
        cursor: pointer;
    }
    
    .rating .star.active {
        opacity: 0;
        animation: ani 0.5s calc(var(--i) * 0.1s)ease-in-out forwards;
    }
    
    @keyframes ani {
        0% {
            opacity: 0;
            transform: scale(1);
        }   
        50% {
            opacity: 1;
            transform: scale(1.2);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
    
    .rating .star:hover {
        transform: scale(1.1);
    }
    
    .font-title {
        color: #0034bb;
        font-size: 25px;
        margin-right: -10px;
        font-style: normal;
    }
    
    .Ifeed {
        display: flex;
        color: #0034bb;
    }
    
    input[type="text1"] {
        width: 100%;
        height: 120px;
        /* padding: 10px; */
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
    }
    
    .popup .material-symbols-outlined {
        color: green;
        font-size: 80px;
    }
}

@media (max-width: 1199px){
    body {
        margin: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #b1eaff;
        flex-direction: column;
    }
    
    .nav-article {
        align-self: flex-start;
        font-size: 20px;
        padding-left: 7px;
      }
    
    .container {
        background: #90becf;
        padding-top: 30px;
        padding-left: 100px;
        width: 102%;
        height: 300px;
        box-shadow: 0 0 5px #78ded1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    
    
    .commentbox {
        position: absolute;
        background-color: #fff;
        width: 101%;
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        padding-left: 10px;
        margin-left: -35px;
        margin-top: 300px;
    }
    
    .commentbox > img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 20px;
        object-fit: cover;
        object-position: center;
    }
    
    .content {
        width: 108%;
    }
    
    .content h2 {
        color: #000b6b;
    }
    
    .user {
        border: none;
        outline: none;
        margin: 5px 0;
        color: #888888;
        margin-left: -12px;
        padding: 10px;
    }
    
    .commentinput > input {
        border: none;
        padding: 10px;
        padding-left: 0;
        outline: none;
        border-bottom: 2px solid blue;
        margin-bottom: 10px;
        width: 95%;
    }
    
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #888888;
    }
    
    .buttons button {
        padding: 5px 10px;
        background-color: lightgrey;
        color: #888888;
        text-transform: uppercase;
        border: none;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .submit-mail {
        background-color: #023b7f; 
        color: #befbff;
        border-color: transparent;
        border-radius: 10px;
        font-size: 30px;
        padding: 20px 40px;
        margin-bottom: 40px;
    }
    
    .buttons button.abled {
        background: blue;
        color: #fff;
    }
    
    .policy {
        margin: 20px 0;
        font-size: 0.8em;
        color: #888888;
    }
    
    .policy a {
        text-decoration: none;
        color: blue;
    }
    
    .notify {
        margin-right: 50px;
        display: flex;
        align-items: center;
    }
    
    .notify > input {
        margin-right: 5px;
    }
    
    .parents {
        display: flex;
        margin-bottom: 30px;
    }
    
    .parents h1 {
        font-size: 0.9em;
        margin-left: 2px;
    }
    
    .parents p {
        margin: 10px 0;
        font-size: 0.9em;
    }
    
    .parents > img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: 10px;
        object-fit: cover;
        object-position: center;
    }
    
    .engagements {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .engagements img {
        width: 20px;
    }
    
    .engagements img:nth-child(1) {
        margin-right: 10px;
        width: 25px;
    }
    
    .date {
        color: #0034bb;
        font-size: 0.8em;;
    }
    
    .complaint {
        margin-top: 300px;
    }
    
    .complaint a {
        text-decoration: none;
        color: #000b6b;
    }
    
    .complaint a:visited{
        color: #000b6b;
    }
    
    .popup{
        width: 400px;
        background: #b1eaff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
        padding-top: -50px;
    }
    
    .popup1{
        width: 400px;
        background: #b1eaff;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
    }
    
    .open-popup{
        visibility: visible;
        top: 50%;
        left: 15%;
        transform: translate(50%, 50%) scale(1);
        margin-top: -50%;
        box-shadow: 0px 0px 50px 10px #000;
    }
    
    .open-popup1{
        visibility: visible;
        top: 50%;
        left: 25%;
        transform: translate(50%, 50%) scale(1);
        margin-top: -30%;
        box-shadow: 0px 0px 50px 10px #000;
    }
    
    
    .popup button{
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        background: #0034bb;
        color:#fff;
        border: 0;
        outline: None;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
    
    h4{
        font-size: 30px;
    }
    
    .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: .5rem;
        font-size: 4rem;
        color: #6590fb;
        margin-bottom: 2rem;
    
    }
    
    .rating .star {
        cursor: pointer;
    }
    
    .rating .star.active {
        opacity: 0;
        animation: ani 0.5s calc(var(--i) * 0.1s)ease-in-out forwards;
    }
    
    @keyframes ani {
        0% {
            opacity: 0;
            transform: scale(1);
        }   
        50% {
            opacity: 1;
            transform: scale(1.2);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
    
    .rating .star:hover {
        transform: scale(1.1);
    }
    
    .font-title {
        color: #0034bb;
        font-size: 25px;
        margin-right: -10px;
        font-style: normal;
    }
    
    .Ifeed {
        display: flex;
        color: #0034bb;
    }
    
    input[type="text1"] {
        width: 100%;
        height: 120px;
        /* padding: 10px; */
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
    }
    
    .popup .material-symbols-outlined {
        color: green;
        font-size: 80px;
    }
}