
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header h1,
.shortcut-header p,
.shortcut-header a,
.program h2,
.program h3,
.program p,
.gift-pro p,
.buttondiv button,
footer, .namePro, .desc, .info p{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}