footer {
    display: flex;

    box-sizing: border-box;
    width: 105%;
    height: 300px;

    padding-top: 70px; 
    padding-left: 30px;
    
    font-size: 30px;

    background-color: #ffffff;

}

.logofooter {
    margin-left: 50px;
    margin-right: 40px;
    height: 230px;
    width: auto;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 30px;
}

.namePro, .desc{
    color: #0034bb;
    margin-right: 90px;
}
.line {
    width: 500px; 
    height: 2px; 
    background-color:  #0034bb; 
}
.namePro {
    font-size: 40px;
}
.desc{
    font-size: 20px;
    height: 10px;
    width: 1010px;
    border: 1px solid transparent;
    padding: 10px;
}

.directory {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
}

.directory a {
    text-decoration: none;
    color: #0034bb;
    margin-left: 20px;
    text-align: left; 
    font-size: 20px;
}

.info p {
    text-decoration: none;
    color: #0034bb;
   
    font-size: 10px;

    align-self: flex-end; 
    justify-self: flex-end; 
    margin-top: 20px; 
}
