body {
    background-color: #edfffe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
/* Section Recommendation */

.recommendation {
  display: flex;
  justify-content: flex-end;
    width: 100%;
    height: 1000px;
    background-color: aquamarine;
    position: relative;
    padding-top: 100px;
    padding-right: 100px;
    animation: movedown 1s linear forwards;
}

@keyframes movedown {
  0%{
      opacity: 0;
      transform: translateY(-30px);
  }
  100%
  {
      opacity: 1;
      transform: translateY(0px);
  }
}



.recomtext {
    margin-left: -70%;
    font-size: 50px;
}

/* Saat slide hide yang lain */
.slide {
    margin-left: -15%;
    display: none;
}

.slide img {
  border: 50px solid #edfffe;
  border-radius: 30px;
  position: relative;
  
  height: 600px;
  width: 800px;
}

.image-container {
  position: relative;
  display: inherit;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: 307px;
    padding: 18px;
    color: darkblue;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev {
    left: 1002px;
  }
  
  /* Position the "next button" to the right */
  .next {
    margin-right: -50px;
    right: 150px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: blue;
    color: #edfffe
  }
  
  /* Caption text */

  .slide .text {
    color: rebeccapurple;
    right: 700px;
    font-size: 52px;
    padding: 8px 12px;
    position: absolute;
  
    text-align: start;
  }

  .text {
    margin-top: 200px;
    margin-right: 400px;
    width: 700px;
    height: 100px;
  }


  
  /* Number text (1/3 etc) */
  .slide .numbertext {
    margin-top: 800px;
    color: blue;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
