
.edu {
    /* display: flex; */
    justify-content: flex-end;
    width: 100%;
    height: 1300px;
    background-color: #b7e3ef;
    position: relative;
    padding-top: 100px;
    padding-right: 100px;
    animation: movedown 1s linear forwards;
}

.edu h2 {
    font-size: 60px;
    margin-left: 33%;
}

.waterdrop {
    width: 100px;
    height: 100px;
    margin-left: -100px;
    margin-top: 100px;
}

.mindmap {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    padding: 10px 0;
}

.container {
    padding: 10px 50px;
    position:relative;
    width: 50%;
    opacity: 0;
    animation: movedown 1s linear forwards;
    box-sizing: border-box;
}


.container.left img {
    position: absolute;
    height: 140px;
    width: 300px;
    border-radius: 6px;
    top: 10px;
    right: 500px;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    /* z-index: 1; */
}

.container.right img {
    position: absolute;
    height: 140px;
    width: 300px;
    border-radius: 6px;
    top: 10px;
    left: 506px;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    /* z-index: 1; */
}

.container:hover img {
    transform: translateX(0);
    /* z-index: 0; */
}

@keyframes movedown {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay: 0s;
}
.container:nth-child(2) {
    animation-delay: 1s;
}
.container:nth-child(3) {
    animation-delay: 2s;
}
.container:nth-child(4) {
    animation-delay: 3s;
}
.container:nth-child(5) {
    animation-delay: 4s;
}
.container:nth-child(6) {
    animation-delay: 5s;
}

.text-box {
    height: 100px;
    width: 300px;
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    z-index: 2;
}


.text-box.one{
    background: #f7f1a4;
}
.text-box.two{
    background: #74f8d7;
}
.text-box.three{
    background: #fdd5df;
}
.text-box.four{
    background: #c280d4;
}
.text-box.five{
    background: #fcae1e;
}
.text-box.six{
    background: #d9dddc;
}


/* posisi lingkaran */
.left {
    left: 0;
}
.right {
    left: 50%;
}



.container.left .text-box {
    margin-right: 1000px;
}

.container.right .text-box {
    margin-left: 156px;
}

.container span.dot {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: skyblue;
    border-radius: 50%; 
    z-index: 10;
    top:60px;
}

.container.left span.dot {
    right: -20px;
}

.container.right span.dot {
    left: -20px;
}


.mindmap::after {
    content: '';
    position: absolute;
    height: 100%;
    border: 2px dashed blue;
    color: blue;
    background-color: transparent;
    top:0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.text-box h3{
    font-weight: 600;
    font-size: 32px;    
}

.text-box a{
    text-decoration: none;
}
.text-box a:link {
    color: black;
}
.text-box a:visited {
    color: black;
}
.text-box a:hover {
    opacity: 0.7;
}
.text-box.three h3{
    margin-top: 10px;
}
.text-box.four h3{
    margin-top: 10px;
}
.text-box.five h3{
    margin-top: 10px;
}
.text-box.six h3{
    margin-top: -5px;
}

.img-slide {
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}


.text-box.one:hover .img-slide {
    transform: translateX(0);
}

.img-slide img {
    height: 100%;
    width: 100%;
}

@media  screen and (max-width: 600px) {
    .mindmap {
        margin:50px auto;
    }
    .mindmap::after{
        left: 31px;
    }
    .container{
        width:100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small {
        margin-bottom: 10px;
    }
    .right {
        left:0;
    }
    .left span, .right span {
        left:10px;
    }
    .left-arrow, .right-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}

